<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- 3.1扫描连接池配置文件 -->
	<context:property-placeholder
		location="classpath:org/sshTP1/cnf/jdbc.properties" />
	<!-- 3.2数据库连接池 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	<!-- hibernate核心对象 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<!-- 数据库方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- 自动建表 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="packagesToScan" value="org.sshTP1.pojo"></property>
	</bean>
	<!-- 开启事务管理 -->
	<bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" id="transactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 注解支持 -->
	<tx:annotation-driven />
	<!-- 7.扫描对象 -->
	<context:component-scan base-package="org.sshTP1.dao,org.sshTP1.service"></context:component-scan>
	<!-- <context:component-scan base-package="org.sshTP1"> <context:exclude-filter 
		type="annotation" expression="org.springframework.stereotype.Controller"/> 
		</context:component-scan> -->

</beans>
